# Ignorar el archivo .env
.env

# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de log
*.log

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos específicos del sistema operativo
desktop.ini
.DS_Store

# Ignorar archivos de compilación y dependencias
/vendor/
composer.lock
package-lock.json