# Ignorar el archivo de configuración de entorno
.env

# Ignorar la carpeta de dependencias
node_modules/
vendor/

# Ignorar archivos de lock que contienen dependencias
package-lock.json
composer.lock

# Ignorar archivos de log
*.log

# Ignorar archivos de configuración de IDE y editores
.vscode/
.idea/

# Ignorar archivos específicos del sistema operativo
desktop.ini
.DS_Store

# Ignorar archivos de compilación y dependencias
build/
dist/