body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Color de fondo neutro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff; /* Color de fondo blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Color de título oscuro */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #666; /* Color de etiqueta gris */
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc; /* Color de borde gris claro */
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50; /* Color de botón verde llamativo */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41; /* Color de botón verde oscuro */
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #666; /* Color de resultado gris */
}