<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Declaración de Renta</title>
    <link rel="stylesheet" href="../Styles/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Calculadora de Declaración de Renta</h1>

        <button class="btn-register" onclick="window.location.href='registar.html'" style="
        display: flex; 
        justify-content: center; 
        align-items: center; 
        padding: 8px 12px; 
        font-size: 14px; 
        background-color: #048d22; /* Ajusta el color de fondo del botón si es necesario */
        border: none; /* Opcional: para quitar el borde del botón */
        color: bisque; 
        cursor: pointer; 
        border-radius: 4px; /* Opcional: para bordes redondeados */
    ">
        <i class="fas fa-arrow-left" aria-hidden="true" style="color: white; margin-right: 8px;"></i>
        Volver

        <p>        </p>
    </button>
    
        

        <form >

            

            <label for="patrimonio">
                <p>        </p>
                <i class="fas fa-coins" aria-hidden="true"></i> Patrimonio Bruto:
            </label>
            <input type="number" id="patrimonio" name="patrimonio" placeholder="Ingrese el patrimonio bruto" required step="0.01">

            <label for="ingresos">
                <i class="fas fa-money-bill-wave" aria-hidden="true"></i> Ingresos Totales:
            </label>
            <input type="number" id="ingresos" name="ingresos" placeholder="Ingrese los ingresos totales" required step="0.01">

            <label for="tarjeta">
                <i class="fas fa-credit-card" aria-hidden="true"></i> Consumos con Tarjeta de Crédito:
            </label>
            <input type="number" id="tarjeta" name="tarjeta" placeholder="Ingrese los consumos con tarjeta" required step="0.01">

            <label for="compras">
                <i class="fas fa-shopping-cart" aria-hidden="true"></i> Compras y Consumos:
            </label>
            <input type="number" id="compras" name="compras" placeholder="Ingrese compras y consumos" required step="0.01">

            <label for="consignaciones">
                <i class="fas fa-university" aria-hidden="true"></i> Consignaciones Bancarias:
            </label>
            <input type="number" id="consignaciones" name="consignaciones" placeholder="Ingrese consignaciones bancarias" required step="0.01">

            <button type="submit" class="btn-calculate">
                Calcular <i class="fas fa-calculator" aria-hidden="true"></i>
            </button>
        </form>
        <div id="result"></div>
    </div>
    <script src="../JavaScript/model.js"></script>
</body>
</html>