<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../Styles/Style_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container" style="display: grid; grid-template-columns: repeat(1, auto);">
        <h1>Registrate</h1>
        <form id="registerForm" >

            <label onclick="window.location.href='loginRegistro.html'" style="cursor: pointer; font-size: 10px; color: green; margin: 10px;">
                <i class="fas fa-arrow-left" style="display: flex; margin-bottom: 1rem;"></i> Volver
            </label>

            <label for="nombre"><i class="fas fa-user"></i> Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="apellidos"><i class="fas fa-user"></i> Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required>
            
            <label for="cedula"><i class="fas fa-id-card"></i> Cédula:</label>
            <input type="text" id="cedula" name="cedula" required>
            
            <label for="celular"><i class="fas fa-mobile-alt"></i> Celular:</label>
            <input type="text" id="celular" name="celular" required>

            <label for="password"><i class="fas fa-lock"></i> Contraseña:</label>
             <input type="password" id="password" name="password">

             <label for="confPassword"><i class="fas fa-lock"></i> confimrar Contraseña:</label>
             <input type="password" id="confPassword" name="confPassword">
            
            <button type="submit" class="btn-register">Registrar <i class="fas fa-check"></i></button>
        </form>
    </div>
    <script src="../Js/Script_login.js"></script>
</body>
</html>
